{% extends 'imagersite/base.html' %}

{% block body %}
<main class="container">
  <h3>Albums</h3>
  <ul>
    {% for album in albums %}
      <li>
          <p><strong>Title: </strong>{{ album.title }}</p>
          <p><strong>Description: </strong>{{ album.description}}</p>
          <p><strong>Cover: </strong></p>
          <a href="/images/album/{{album.id}}"><img style="width: 100px;" src="{{ album.cover.image.url }}"></a>
      </li>
    {% endfor %}
  </ul>
<main class="container">
{% endblock %}
