<h1>My Imager profile</h1>
<p>
  <strong>Username: </strong> {{ user.username }}
</p>
<p>
  <strong>Email: </strong> {{ user.email }}
</p>
<p>
  <strong>First name: </strong> {{ user.first_name }}
</p>

<p>
  <strong>Last name: </strong> {{ user.last_name }}
</p>

<p>
  <strong>Address 1: </strong> {{ user.profile.address_1 }}
</p>

<p>
  <strong>Address 2: </strong> {{ user.profile.address_2 }}
</p>
<p>
  <strong>City: </strong> {{ user.profile.city }}
</p>
<p>
  <strong>State: </strong> {{ user.profile.state }}
</p>
<p>
  <strong>Zipcode: </strong> {{ user.profile.zipcode }}
</p>
<button type="button" name="button"><a href="{% url 'auth_logout' %}">Logout</a></button>
