<h1>Imager profile</h1>
<p>
  <strong>Username: </strong> {{ profile.user.username }}
</p>
<p>
  <strong>Email: </strong> {{ profile.user.email }}
</p>
<p>
  <strong>First name: </strong> {{ profile.user.first_name }}
</p>

<p>
  <strong>Last name: </strong> {{ profile.user.last_name }}
</p>

<p>
  <strong>Address 1: </strong> {{ profile.address_1 }}
</p>

<p>
  <strong>Address 2: </strong> {{ profile.address_2 }}
</p>
<p>
  <strong>City: </strong> {{ profile.city }}
</p>
<p>
  <strong>State: </strong> {{ profile.state }}
</p>
<p>
  <strong>Zipcode: </strong> {{ profile.zipcode }}
</p>
